

body {
  font-family: "sans";
  font-size: 12px;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
  display: none;
}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
}

#stats { bottom: 0px; right: 0px; }
.bar-tab { right: 33% !important; left: 33% !important; }
.logo {position: absolute; top: 5px; left: 5px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

#app-menu{
  position: fixed;
  background: rgb(0 0 0 / 25%);
  width: 100%;
  padding: .25rem .5rem;
}

#app-menu img{
  width: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.quick-block{
  float: right;
  margin-right: 1rem;
}

.quick-block img{
  margin-left: .5rem;
  cursor: pointer;
}

#minmap{
  bottom: 135px;
}

#compas{
  bottom: 176px;
}

#clock{
  bottom: 217px;
}

#minmap, #compas, #clock{
  text-align: center;
  color: #b5b5b5;
  padding: 8px 0;
  width: 160px;
}

#mini-map{
  bottom: 8px;
}

#minmap, #mini-map, #compas, #clock{
  left: 8px;
  background:rgba(0,0,0,65%);
  box-shadow: 0 0 4px black;
  border-radius: 4px;
  position: fixed;
}

#counter{
  position: fixed;
  display: none;
  width: 5rem;
  text-align: center;
  background: rgb(0 0 0 / 66%);
  box-shadow: 0 0 4px rgb(0 0 0 / 66%);
  bottom: 0;
  color: #b5b5b5;
  padding: .5rem;
  border-top-right-radius: 4px;
  right: 0;
}

#contact{
  position: fixed;
  min-width: 9rem;
  background: rgb(0 0 0 / 66%);
  box-shadow: 0 0 4px rgb(0 0 0 / 66%);
  bottom: 40px;
  color: #b5b5b5;
  padding: .5rem;
  border-radius: 4px;
  right: -10rem;
  transition: all 1s;
  z-index: 999999;
}

#contact div:first-child{
  font-size: .5rem;
}

#contact div:last-child{
  font-size: 1rem
}

#contact.show{
  right: 1rem;
}

.show{
  display: block!important;
}

.modal{
  background: rgba(0, 0, 0, 0.4);
      color: #fff;
}

.modal-content {
    background: rgba(0,0,0,65%);
    border: none;
    box-shadow: 0 0 6px black;
    border-radius: 4px;
}

.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7)
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.7)
}

.btn-outline-secondary {
    color: #696666;
    border-color: #000000;
}
.btn-outline-secondary:hover,.btn-outline-secondary:active,.btn-outline-secondary:focus {
    color: #696666;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #000000;
    box-shadow: 0 0 4px black;
}

::-webkit-scrollbar {
  z-index: 30;
  width: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-left: 1px solid #000
}

::-webkit-scrollbar-track {
  background: #000
}

.ico-div{
  position: fixed;
  right: 8px;
  top: 40px;
}

.ico-item{
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.65);
  padding: 8px;
  box-shadow: 0 0 4px black;
  border-radius: 4px;
}

.ico-img {
  width: 32px;
  border-radius: 2px;
  cursor: pointer;
  opacity: .6;
  transition: opacity .5s;
}

.ico-img:hover {
  opacity: 1;
}



.progress-wrap{
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: flex;
  z-index: 1;
}

.progress {
  position: relative;
  margin-left: 10px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
  padding: 6px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 0 4px black;
}

.progress-text {
  position: absolute;
  font: bold 14px/20px Arial;
  text-align: center;
  top: 0;
  left: 0;
}

.progress, .progress-bar, .progress-text {
  width: 200px;
  max-width: 200px;
  height: 10px;
  display: table;
}

.progress .progress-text:first-child {
  z-index: 5;
  color: white;
}

.progress .progress-text:last-child {
  z-index: 10;
  color: black;
}

.progress-bar {
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-radius: 12px;
  width: 0;
  transition: width .2s linear;
  width: 50%;
  cursor: pointer;
}

.progress.sparkle .progress-bar {

  background-image: url(../img/sparkle.png);
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5), inset 0 2px 2px rgba(255, 255, 255, 0.8);
  animation: sparkle 10s linear infinite;
}

.progress.sparkle:nth-child(1) .progress-bar {
  background-color: red;
}

.progress.sparkle:nth-child(2) .progress-bar {
  background-color: blue;
}



@-webkit-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@-moz-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@-o-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}

#death-mask{
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.52);
  top: 0;
  left: 0;
}
