

body {
  font-family: "sans";
  font-size: 12px;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
  display: none;
}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
}

#stats { bottom: 0px; right: 0px; }
.bar-tab { right: 33% !important; left: 33% !important; }
.logo {position: absolute; top: 5px; left: 5px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

#app-menu{
  position: fixed;
  background: rgb(0 0 0 / 25%);
  width: 100%;
  padding: .25rem .5rem;
}

#app-menu img{
  width: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.quick-block{
  float: right;
  margin-right: 1rem;
}

.quick-block img{
  margin-left: .5rem;
  cursor: pointer;
}

#minmap{
  position: fixed;
  width: 5rem;
  text-align: center;
  background: rgb(0 0 0 / 66%);
  box-shadow: 0 0 4px rgb(0 0 0 / 66%);
  bottom: 0;
  color: #b5b5b5;
  padding: .5rem;
  border-top-right-radius: 4px;
  left: 0;
}

#mini-map{
  background:rgba(0,0,0,75%);
  box-shadow: 0 0 6px black;
  border-radius: 4px;
  position: fixed;
  bottom: .5rem;
    right: .5rem;
  z-index: 9;
}

#counter{
  position: fixed;
  display: none;
  width: 5rem;
  text-align: center;
  background: rgb(0 0 0 / 66%);
  box-shadow: 0 0 4px rgb(0 0 0 / 66%);
  bottom: 0;
  color: #b5b5b5;
  padding: .5rem;
  border-top-right-radius: 4px;
  right: 0;
}

#contact{
  position: fixed;
  width: 9rem;
  background: rgb(0 0 0 / 66%);
  box-shadow: 0 0 4px rgb(0 0 0 / 66%);
  bottom: 1rem;
  color: #b5b5b5;
  padding: .5rem;
  border-radius: 4px;
  right: -10rem;
  transition: all 1s;
}

#contact div:first-child{
  font-size: .5rem;
}

#contact div:last-child{
  font-size: 1rem
}

#contact.show{
  right: 1rem;
}

.show{
  display: block!important;
}

.modal{
  background: rgba(0, 0, 0, 0.4);
      color: #fff;
}

.modal-content {
    background-color: rgba(43, 43, 43, 0.8);
    border: none;
    box-shadow: 0 0 6px black;
}

.modal-header {
  border-bottom: 1px solid #545454;
}

.modal-footer {
  border-top: 1px solid #545454;
}

::-webkit-scrollbar {
  z-index: 30;
  width: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-left: 1px solid #000
}

::-webkit-scrollbar-track {
  background: #000
}
